

@font-face {
  font-family: Jua;
  src: url('./Components/Fonts/Jua-Regular.woff');
}
.App{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  height: 110vh;
  max-height: 110vh;
  overflow-y: hidden;
  scroll-behavior: unset;
}
*{
  box-sizing: border-box;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button{
  appearance: none;
}

body {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
  overflow-y: hidden;
  scroll-behavior: unset;
}